@import "reset.css";

header {
    text-align: center;
}

h2 {
    font-size: 50px;
    color: maroon;
}

main {
    margin: 0 auto;
    height: 800px;
    width: 960px;
}

nav {
    border: 2px solid black;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;   
    background-color: maroon;
}
nav ul li a:hover {
    color: black;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.box1 {
    margin-left: 30px;
    margin-top: 30px;
    height: 1em;
    width: 200px;
    color: white;
    font: 90.0% Arial, Verdana, sans-serif;
    padding: 15px;
    float: left;
    background-color: blue;
}

footer {
    text-align: center;
    float: bottom;
    color: gray;
}

.active {
    color: black;
}